/* use class */
/* data-aos="fade-up"
data-aos="fade-down"
data-aos="fade-right"
data-aos="fade-left"
data-aos="zoom-in"
data-aos="zoom-out"
data-aos="slide-up"
data-aos="flip-up"
data-aos="flip-down"
data-aos="flip-right"
data-aos="flip-left" */
@keyframes image_move2 {
  0% {
  transform: translate(0px, 0px); }
  25% {
  transform: translate(20px, -20px); }
  50% {
  transform: translate(0px, -40px); }
  75% {
  transform: translate(20px, -20px); }
  100% {
  transform: translate(0px, 0px); } }
  @keyframes image_move3 {
  0% {
  transform: translate(0px, 0px); }
  25% {
  transform: translate(20px, 0px); }
  50% {
  transform: translate(30px, -20px); }
  75% {
  transform: translate(20px, 0px); }
  100% {
  transform: translate(0px, 0px); } }
  @keyframes image_move4 {
  0% {
  transform: translate(0px, 0px); }
  15% {
  transform: translate(0px, 20px); }
  30% {
  transform: translate(-20px, 20px); }
  45% {
  transform: translate(-20px, 40px); }
  60% {
  transform: translate(-25px, 30px); }
  75% {
  transform: translate(-20px, 20px); }
  90% {
  transform: translate(0px, 20px); }
  100% {
  transform: translate(0px, 0px); } }

  
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,5);
  }
  50% {
      transform: scale(2.2,2.2);
  }
  100% {
      transform: scale(1,5);
  }
}

@keyframes toLeft{
    0% {left: 50%;}
    50% {left: -10%;}
    100%{left: 50%;}
}
@keyframes toRight{
    0% {left: 50%;}
    50% {left: 110%;}
    100%{left: 50%;}
}
@keyframes scalable{
    form {transform: scale(0.1);}
    to{transform: scale(0.9);}
}
@keyframes rotable{
    form {transform: rotate(10deg);}
    to{transform: rotate(-10deg);}
}
@keyframes tangable{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@keyframes shadow-pulse-blue
{
  0% {
    box-shadow: 0 0 0 0px rgba(20, 115, 230, 0.5);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(20, 115, 230, 0);
  }
}
/* continuously pulse animation start apply shop button animation*/
.pulse {
	animation: 1.6s playShadow ease-out infinite;
  }
  @keyframes playShadow {
	0% {
	  box-shadow: 0 0 0 0px rgba(51, 157, 195, 0.3), 0 0 0 0px rgba(51, 157, 195, 0.2);
	  transform: scale(1);
	}
	18% {
	  box-shadow: 0 0 0 0px rgba(51, 157, 195, 0.3), 0 0 0 0px rgba(51, 157, 195, 0.2);
	}
	35% {
	  transform: scale(1.08);
	}
	76% {
	  transform: scale(0.96);
	}
	100% {
	  box-shadow: 0 0 0 16px rgba(51, 157, 195, 0), 0 0 0 27px rgba(51, 157, 195, 0);
	  transform: scale(1);
	}
  }
/* continuously pulse animation start */

/* text hove animation apply on Splendid Features text animation*/
.s-hover {
  transition: all 0.5s ease 0s !important;
  padding: 0;
}
.s-hover:hover {
  padding: 0px 20px;
}
.footer-list .s-hover:hover{
  padding: 0px 15px !important;
}
/* text hove animation */


/* cursor animation for webpage please add js for this also name(cursor.js)*/
.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-image: linear-gradient(
90deg
, #03228f 0%, #0e73e4 100%);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 99999999;;
}
  
  .cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 9px solid #fff;
    background-image: linear-gradient(
90deg
, #03228f 0%, #0e73e4 100%);
    border-radius: 50%;
    opacity: .5;
    animation: cursorAnim2 .5s infinite alternate;
    top: 10%;
    left: 13%;
  }
  
  @keyframes cursorAnim {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(0.7);
	}
  }
  @keyframes cursorAnim2 {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(0.4);
	}
  }
  @keyframes cursorAnim3 {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(3);
	}
	100% {
	  transform: scale(1);
	  opacity: 0;
	}
  }
  /* cursor animation for webpage*/

/* image move Continuously top to bottom and bottom to top */
.vert-move, .banner-bottom-right-img, .banner-bottom-left-img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* backgoound move infinite animation */
.bg-moving, .section-team {
  -webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -0px -400px; }
}

/* backgoound move infinite animation */


/* bottom to top button */
#button {
  border-radius: 100% 100% 100% 100% !important;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
#button:active {
  background-color: #67e7ef;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/* bottom to top button */

/* icon hover animation */

.hover-animate:hover {
  animation: shake 1300ms;
}
/* use this css in your hover classs */
/* animation: pulsehover 1500ms; 
   animation: shake 1300ms; 
   animation: spin 3000ms;
   animation: shake 1300ms;

*/
/* use this css in your hover classs */

@keyframes pulsehover {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
/* @keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0);
  }
} */
@keyframes spin {
  to {
    transform: rotateZ(720deg);
  }
}

/* Website Loader */
.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadmain{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #0c0c0c;
  z-index: 9999;
}


@media (max-width: 991.98px) {
  .loadtext{
     font-size: 60px; 
     top: 60%;
     left: 50%;} }

@keyframes animate3{      
     0%{
        background-image: url(https://images.pexels.com/photos/1616403/pexels-photo-1616403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     }
     10%{
        background-image: url(https://images.pexels.com/photos/194098/pexels-photo-194098.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     20%{
        background-image: url(https://images.pexels.com/photos/1111369/pexels-photo-1111369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     }
     30%{
        background-image: url(https://images.pexels.com/photos/459799/pexels-photo-459799.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     40%{
        background-image: url(https://images.pexels.com/photos/1428171/pexels-photo-1428171.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     50%{
        background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     60%{
        background-image: url(https://images.pexels.com/photos/1389460/pexels-photo-1389460.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     70%{
        background-image: url(https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     80%{
        background-image: url(https://images.pexels.com/photos/1793525/pexels-photo-1793525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     }
     90%{
        background-image: url(https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     }
     100%{
        background-image: url(https://images.pexels.com/photos/2340254/pexels-photo-2340254.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     }
}

@keyframes animate4{
     from{color: #D2006B;}
     to{color: transparent;}
}

.loadtitle{
  font-family: monospace;
  font-size: 12px;
  color: white;
  letter-spacing: 5px;
}

.loadbar{
  width: 80px;
  height: 2px;
  background-color: #09274d;
  margin: 10px auto;
  border-radius:5px;
}

#fill{
     width: 0%;
     height: 100%;
     background-color: white;
     position: relative;
     top: 0px;
     left: 0px;
     border-radius:5px;
}
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.1,1.1);
  }
  100% {
      transform: scale(1,1);
  }
}
.zoom-animate img, .about-effect-center, .about-effect-bottom, .section-services-ab-img, .section-services-ab-r {
  animation: zoominoutsinglefeatured 8s infinite ;
}
@keyframes shadow-pulse-white
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}
@keyframes shadow-blue-white
{
  0% {
    box-shadow: 0 0 0 0px rgba(9, 39, 77, 0.5);
  }
  100% {
    box-shadow: 0 0 0 18px rgba(9, 39, 77, 0);
  }
}
.shadow-white, .back-front .btn-theme{
	animation: shadow-pulse-white 2s infinite;
}

/* zircona animation */

@keyframes burger_top-1-45 {
  0% {
      top: 0;
      transform: rotate(0);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 7px;
      transform: rotate(45deg);
 }
}
@keyframes burger_top-2-45 {
  0% {
      top: 7px;
      transform: rotate(45deg);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 0;
      transform: rotate(0);
 }
}
@keyframes burger_bottom-1-135 {
  0% {
      bottom: 0px;
      transform: rotate(0);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 7px;
      transform: rotate(135deg);
 }
}
@keyframes burger_bottom-2-135 {
  0% {
      bottom: 7px;
      transform: rotate(135deg);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 0;
      transform: rotate(0);
 }
}
@keyframes burger_scaled-1 {
  50% {
      transform: scale(0);
 }
  100% {
      transform: scale(0);
 }
}
@keyframes burger_scaled-2 {
  0% {
      transform: scale(0);
 }
  50% {
      transform: scale(0);
 }
  100% {
      transform: scale(1);
 }
}
@keyframes sp_top-1-45 {
  0% {
      top: 0;
      transform: rotate(0);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 7px;
      transform: rotate(45deg);
 }
}
@keyframes sp_top-1-20 {
  0% {
      top: 0;
      transform: rotate(0);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 7px;
      transform: rotate(20deg);
 }
}
@keyframes sp_top-2-45 {
  0% {
      top: 7px;
      transform: rotate(45deg);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 0;
      transform: rotate(0);
 }
}
@keyframes sp_top-2-20 {
  0% {
      top: 7px;
      transform: rotate(20deg);
 }
  50% {
      top: 7px;
      transform: rotate(0);
 }
  100% {
      top: 0;
      transform: rotate(0);
 }
}
@keyframes sp_bottom-1-135 {
  0% {
      bottom: 0px;
      transform: rotate(0);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 7px;
      transform: rotate(135deg);
 }
}
@keyframes sp_bottom-1-115 {
  0% {
      bottom: 0px;
      transform: rotate(0);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 7px;
      transform: rotate(115deg);
 }
}
@keyframes sp_bottom-2-135 {
  0% {
      bottom: 7px;
      transform: rotate(135deg);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 0;
      transform: rotate(0);
 }
}
@keyframes sp_bottom-2-115 {
  0% {
      bottom: 7px;
      transform: rotate(115deg);
 }
  50% {
      bottom: 7px;
      transform: rotate(0);
 }
  100% {
      bottom: 0;
      transform: rotate(0);
 }
}
@keyframes sp_scaled-1 {
  50% {
      transform: scale(0);
 }
  100% {
      transform: scale(0);
 }
}
@keyframes sp_scaled-2 {
  0% {
      transform: scale(0);
 }
  50% {
      transform: scale(0);
 }
  100% {
      transform: scale(1);
 }
}

@keyframes rotating {
  0% {
      transform: rotate(0turn);
 }
  100% {
      transform: rotate(1turn);
 }
}
@keyframes loader {
  0% {
      transform: scale(0);
 }
  40% {
      transform: scale(1);
 }
  80% {
      transform: scale(1);
 }
  100% {
      transform: scale(0);
 }
}

@keyframes scroll_up_anim {
  0% {
      transform: translateY(0);
 }
  50% {
      transform: translateY(4px);
 }
  100% {
      transform: translateY(0);
 }
}

@keyframes wgl_fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
 }
  100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
 }
}
@keyframes spinner_loading {
  to {
      transform: rotate(360deg);
 }
}
@keyframes wgl_opacity_in {
  from {
      opacity: 0;
      visibility: hidden;
 }
  to {
      opacity: 1;
      visibility: visible;
 }
}
@keyframes wgl_flash_in_bottom {
  from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
 }
  to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
 }
}
@keyframes wgl_flash_in {
  from {
      opacity: 0;
      visibility: hidden;
 }
  to {
      opacity: 1;
      bottom: 0;
      visibility: visible;
 }
}
@keyframes image_upDown {
  0% {
      transform: translateY(-10px);
 }
  100% {
      transform: translateY(10px);
 }
}
@keyframes image_leftRight {
  0% {
      transform: translateX(-10px);
 }
  100% {
      transform: translateX(10px);
 }
}
@keyframes image_scale1 {
  0% {
      transform: scale(0.8);
 }
  100% {
      transform: scale(1.1);
 }
}
@keyframes image_scale2 {
  0% {
      transform: scale(0.8);
 }
  50% {
      transform: scale(1.2);
 }
  100% {
      transform: scale(0.8);
 }
}
@keyframes image_scale3 {
  0% {
      transform: scale(1);
 }
  50% {
      transform: scale(0.6);
 }
  100% {
      transform: scale(1);
 }
}
@keyframes image_move1 {
  0% {
      transform: translate(0px, 0px);
 }
  25% {
      transform: translate(10px, 20px);
 }
  50% {
      transform: translate(30px, 30px);
 }
  75% {
      transform: translate(20px, 10px);
 }
  100% {
      transform: translate(0px, 0px);
 }
}
@keyframes image_move2 {
  0% {
      transform: translate(0px, 0px);
 }
  25% {
      transform: translate(20px, -20px);
 }
  50% {
      transform: translate(0px, -40px);
 }
  75% {
      transform: translate(20px, -20px);
 }
  100% {
      transform: translate(0px, 0px);
 }
}
@keyframes image_move3 {
  0% {
      transform: translate(0px, 0px);
 }
  25% {
      transform: translate(20px, 0px);
 }
  50% {
      transform: translate(30px, -20px);
 }
  75% {
      transform: translate(20px, 0px);
 }
  100% {
      transform: translate(0px, 0px);
 }
}
@keyframes image_move4 {
  0% {
      transform: translate(0px, 0px);
 }
  15% {
      transform: translate(0px, 20px);
 }
  30% {
      transform: translate(-20px, 20px);
 }
  45% {
      transform: translate(-20px, 40px);
 }
  60% {
      transform: translate(-25px, 30px);
 }
  75% {
      transform: translate(-20px, 20px);
 }
  90% {
      transform: translate(0px, 20px);
 }
  100% {
      transform: translate(0px, 0px);
 }
}
@keyframes image_move_rotate1 {
  0% {
      transform: translate(0px, 0px) rotate(0);
 }
  25% {
      transform: translate(-10px, -10px) rotate(5deg);
 }
  50% {
      transform: translate(-20px, 0px) rotate(0);
 }
  75% {
      transform: translate(-10px, -10px) rotate(-2deg);
 }
  100% {
      transform: translate(0, 0) rotate(0);
 }
}
@keyframes image_move_rotate2 {
  0% {
      transform: translate(0px, 0px) rotate(0);
 }
  25% {
      transform: translate(10px, 10px) rotate(-5deg);
 }
  50% {
      transform: translate(-5px, 15px) rotate(-10deg);
 }
  75% {
      transform: translate(-10px, 5px) rotate(-5deg);
 }
  100% {
      transform: translate(0, 0) rotate(0);
 }
}
@keyframes image_move_rotate3 {
  0% {
      transform: translate(0px, 0px) rotate(0);
 }
  20% {
      transform: translate(0px, -10px) rotate(-5deg);
 }
  40% {
      transform: translate(15px, -15px) rotate(0deg);
 }
  60% {
      transform: translate(25px, 0px) rotate(7deg);
 }
  80% {
      transform: translate(10px, 10px) rotate(-2deg);
 }
  100% {
      transform: translate(0, 0) rotate(0);
 }
}
@keyframes image_move_rotate4 {
  0% {
      transform: translate(0px, 0px) rotate(0);
 }
  15% {
      transform: translate(-10px, 10px) rotate(5deg);
 }
  30% {
      transform: translate(-25px, 15px) rotate(10deg);
 }
  45% {
      transform: translate(-25px, 25px) rotate(13deg);
 }
  60% {
      transform: translate(-5px, 20px) rotate(16deg);
 }
  75% {
      transform: translate(5px, 5px) rotate(13deg);
 }
  90% {
      transform: translate(15px, -10px) rotate(8deg);
 }
  100% {
      transform: translate(0, 0) rotate(0);
 }
}
@keyframes morph_rotate {
  0% {
      border-radius: 70% 30% 71% 29% / 25% 31% 69% 75%;
      transform: rotate(1turn);
 }
  50% {
      border-radius: 29% 71% 34% 66% / 39% 62% 38% 61%;
 }
  100% {
      border-radius: 70% 30% 71% 29% / 25% 31% 69% 75%;
      transform: rotate(0turn);
 }
}
@keyframes fade_in {
  100% {
      opacity: 1;
 }
}
@keyframes slide_top {
  100% {
      opacity: 1;
      transform: translateY(0);
 }
}
@keyframes slide_bottom {
  100% {
      opacity: 1;
      transform: translateY(0);
 }
}
@keyframes slide_left {
  100% {
      opacity: 1;
      transform: translateX(0);
 }
}
@keyframes slide_right {
  100% {
      opacity: 1;
      transform: translateX(0);
 }
}
@keyframes zoom_in {
  100% {
      opacity: 1;
      transform: scale(1);
 }
}
@keyframes wgl-ellipsis1 {
  0% {
      transform: scale(0);
 }
  100% {
      transform: scale(1);
 }
}
@keyframes wgl-ellipsis3 {
  0% {
      transform: scale(1);
 }
  100% {
      transform: scale(0);
 }
}
@keyframes wgl-ellipsis2 {
  0% {
      transform: translate(0, 0);
 }
  100% {
      transform: translate(19px, 0);
 }
}
@keyframes service_hexagon_1 {
  0% {
      transform: rotate(90deg);
 }
  100% {
      transform: rotate(450deg);
 }
}
@keyframes service_hexagon_2 {
  0% {
      transform: rotate(-90deg);
 }
  100% {
      transform: rotate(270deg);
 }
}
@keyframes circles {
  0% {
      transform: scale(1);
      opacity: 0;
 }
  20% {
      transform: scale(1.44);
      opacity: 0.5;
 }
  100% {
      transform: scale(3.2);
      opacity: 0;
 }
}
@keyframes pulse_ring {
  0% {
      transform: scale(1);
 }
  50% {
      transform: scale(1.7);
 }
  100% {
      transform: scale(1);
 }
}

@keyframes morph_rotate {
  0% {
      border-radius: 70% 30% 71% 29% / 25% 31% 69% 75%;
      transform: rotate(1turn);
 }
  50% {
      border-radius: 29% 71% 34% 66% / 39% 62% 38% 61%;
 }
  100% {
      border-radius: 70% 30% 71% 29% / 25% 31% 69% 75%;
      transform: rotate(0turn);
 }
}
/* animation: burger_top-1-45 .5s infinite alternate;

animation: burger_top-2-45 .5s infinite alternate;

animation: burger_bottom-1-135 .5s infinite alternate;

animation: burger_bottom-2-135 .5s infinite alternate;

animation: burger_scaled-1 .5s infinite alternate;

animation: burger_scaled-2 .5s infinite alternate;

animation: sp_top-1-45 .5s infinite alternate;

animation: sp_top-1-20 .5s infinite alternate;

animation: sp_top-2-45 .5s infinite alternate;

animation: sp_top-2-20 .5s infinite alternate;

animation: sp_bottom-1-135 .5s infinite alternate;

animation: sp_bottom-1-115 .5s infinite alternate;

animation: sp_bottom-2-135  .5s infinite alternate;

animation: sp_bottom-2-115  .5s infinite alternate;

animation: sp_scaled-1 .5s infinite alternate;

animation: sp_scaled-2 .5s infinite alternate;

animation: rotating .5s infinite alternate;

animation: loader .5s infinite alternate;

animation: scroll_up_anim .5s infinite alternate;

animation: wgl_fadeInUp .5s infinite alternate;

animation: spinner_loading .5s infinite alternate;

animation: wgl_opacity_in .5s infinite alternate;

animation: wgl_flash_in_bottom .5s infinite alternate;

animation: wgl_flash_in .5s infinite alternate;

animation: image_upDown .5s infinite alternate;

animation: image_leftRight  .5s infinite alternate;

animation: image_scale1 .5s infinite alternate;

animation: image_scale2 .5s infinite alternate;

animation: image_scale3 .5s infinite alternate;

animation: image_move1 .5s infinite alternate;

animation: image_move2 .5s infinite alternate;

animation: image_move3 .5s infinite alternate;

animation: image_move4 .5s infinite alternate;

animation: image_move_rotate1 .5s infinite alternate;

animation: image_move_rotate2 .5s infinite alternate;

animation: image_move_rotate3 .5s infinite alternate;

animation: image_move_rotate4 .5s infinite alternate;

animation: morph_rotate .5s infinite alternate;

animation: fade_in  .5s infinite alternate;

animation: slide_top  .5s infinite alternate;

animation: slide_bottom .5s infinite alternate;

animation: slide_left .5s infinite alternate;

animation: slide_right .5s infinite alternate;

animation: zoom_in  .5s infinite alternate;

animation: wgl-ellipsis1 .5s infinite alternate;

animation: wgl-ellipsis3 .5s infinite alternate;

animation: wgl-ellipsis2 .5s infinite alternate;

animation: service_hexagon_1 .5s infinite alternate;

animation: service_hexagon_2 .5s infinite alternate;

animation: circles .5s infinite alternate;

animation: pulse_ring .5s infinite alternate;

animation: morph_rotate .5s infinite alternate; */
