/* font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
/* http://zircona.wgl-demo.net/ */
body{
    font-family: 'Nunito', sans-serif;
	touch-action: manipulation;
	font-size:16px;
	background: #fff;
	font-weight:400;
}
.font-primary, .navbar-nav-link{
    font-family: Nunito;
}
.primary-bold{
    font-weight: 800;
}
input[type=number] {
	-moz-appearance: textfield
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}
input[type=submit] {
	padding: 12px 20px;
	background: red;
	font-weight: normal;
	color: #fff;
	display: block;
	margin: 0 auto
}
input[type=submit],
input[type=button] {
	cursor: pointer;
	border: 0
}
input:focus {
	outline: none;
}
textarea {
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
	height: 70px !important;
	font-style:normal !important;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea {
	background: transparent;
	font-size: 15px;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 0;
	width: 100%;
	box-shadow: none;
	-webkit-appearance: none;
	color: #767676;
	padding: 12px 0px;
	font-weight:300;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
	background: transparent
}
form label {
	/* color: #006db7; */
	font-size: 16px;
	display: block;
	/* font-weight: 900; */
	margin-bottom: 10px;
	/* text-transform: uppercase */
}
input:required {
	box-shadow: none
}
.user-select-none {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
/* heading font-size */
h1, h1 span, h1.wrap {
    font-size: 40px !important;
    line-height: 50px !important;
    font-family: Nunito;
}
h2{
	font-size:14px !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 700 !important;
}
h4 {
    font-size: 35px;
}
h5 {
    font-size: 22px;
}

/* heading font-size */
/* buton css */
.btn-slide, .btn-info, .menu-btn-login a {
    padding: 14px 25px;
    border: 1px solid transparent;
    color: #ffffff;
    background: #ff9083;
    border-radius: 30px;
    cursor: pointer;
    animation: shadow-pulse-white 2s infinite;
    font-size: 11px;
    letter-spacing: 0 !important;
}
.menu-btn-login a {
    padding: 7px 34px !important;
}
.sticky .menu-btn-login a{
    background-image: linear-gradient( 
        90deg
         , #03228f 0%, #0e73e4 100%) !important;
    color:#fff;
}
.btn-theme, .btn-info, .sticky .menu-btn-login a{
	animation: shadow-blue-white 2s infinite !important;	
}
/* buton css */
.font-semibold, .navbar-nav-link, .section-vision ul.nav.nav-tabs li a {
	font-weight:600;
}
.font-bold, .typewrite{
	font-weight:700;
}
.font-medium, .section-heading h3{
	font-weight:500 !important;
}
.font-regular{
	font-weight:400;
}
.text-white, .navbar-nav-link, .top-header i:before, .team-content i:before, .custom-footer i:before, .r-icon i:before{
	color:#fff;
}
.text-black{
	color:#000;
}
.text-gray{
	color:#999;
}
.font-blue, .contact-block-row i:before{
	color:#020a6c !important;
}
/* font-boldness */
/* floating label css */
input:placeholder-shown ~ .form-control-placeholder, 
textarea:placeholder-shown ~ .form-control-placeholder{
	top: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}
 input ~ .form-control-placeholder, 
 .form-control:focus ~ .form-control-placeholder, 
 textarea ~ .form-control-placeholder, 
 textarea.form-control:focus ~ .form-control-placeholder {
    position: absolute;
     transition: all 0.2s linear;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     top:-15px;
     font-size: 13px;
     margin-left: 0;
	 color: #0b5bcb;
	 font-weight: 800;
	 text-transform: capitalize;
}
.select2-selection--single .select2-selection__placeholder{color: #838282; font-size: 15px;font-weight: 300;}
textarea ~ .form-control-placeholder, 
textarea.form-control:focus ~ .form-control-placeholder {
    top: -22px;
 }
.form-control-placeholder span.text-yellow {
	position: relative;
	top: -5px;
}
 /* floating label css */
/*================================= 3  Inputs ( #input ) =================================*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
::-webkit-input-placeholder {
	color: #343434;
	font-style: normal;
}
:-moz-placeholder {
	color: #343434;
	font-style: normal;
}
::-moz-placeholder {
	color: #343434;
	font-style: normal;
}
:-ms-input-placeholder {
	color: #343434;
	font-style: normal;
}
button::-moz-focus-inner {
	border: 0
}
:focus {
	outline: none;
}
::-moz-focus-inner {
    border: 0;
}
.bg-black{
	background-color:#1C1C25;
}
.bg-gray, .page-counter:after{
    background-color: #F8F8F8 !important;
}
.bg-gr, .btn-theme, .btn-info, .videoPoster:before, button.video-btn:before{
	background-image: linear-gradient(
90deg
, #03228f 0%, #0e73e4 100%) !important;
transition: all 0.5s ease 0s;
}
.btn-theme:hover, .btn-info:hover {
    background-image: linear-gradient( 
90deg
 , #0e73e4 0%, #03228f 100%) !important;
    color: #fff !important;
}
.error{
	font-size: 13px;
}
button:focus {
	outline: none;
}
a,
a:hover, button, button:hover {
	transition: all 0.5s ease 0s !important;
}
.icon:before{
	margin:0px !important
}
/*================================= 4 Global Styles (#glob) =================================*/
p {
	font-weight: 400;
    font-size: 16px !important;
    line-height: 30px;
    color: #616161 !important;
}
.font-small, .navbar-nav-link, .section-vision ul.nav.nav-tabs li a {
	font-size:14px !important;
    line-height:15px !important;
}
.font-extra-small, .team-social-i i:before, .footer-social-icon a i:before, .header-social-media i:before{
	font-size:12px !important;
    line-height:22px;
}/*================================= comoon css end =================================*/

/*================================= custom css start =================================*/
i:before{
	margin:0px !important;
}
.sticky .fixed-top {
	background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    -webkit-animation-duration: .5s;
}
.after-none:before{
    display: none;
}
.box-shadow{
	-webkit-box-shadow: 1px 1px 16px 0px rgba(225,225,225,1);
    -moz-box-shadow: 1px 1px 16px 0px rgba(225,225,225,1);
    box-shadow: 1px 1px 16px 0px rgba(225,225,225,1);
}
.section-spacer {
	padding: 80px 0px !important;
}
button.navbar-toggler i:before {
	margin-left: 0px !important;
	font-size: 18px !important;
}
button.navbar-toggler i.flaticon-close-1:before{font-size: 15px !important;}
button.navbar-toggler i {
    background-image: linear-gradient( 
        90deg
         , #03228f 0%, #0e73e4 100%) !important;
	color: #fff;
    border-radius: 6px;
	width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
	top: 20px;
}
button.navbar-toggler i.flaticon-close-2:before {
	font-size: 12px !important;
}
.sticky{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	-webkit-box-shadow: -1px 3px 5px 1px rgba(20, 14, 20, 0.11);
	-moz-box-shadow: -1px 3px 5px 1px rgba(20, 14, 20, 0.11);
    box-shadow: -1px 3px 5px 1px rgba(20, 14, 20, 0.11);
    background-color: #fff;
}
/*================================= second-header css start =================================*/
.content-wrapper{
	overflow: hidden;
}
.navbar-nav-link{
	padding: 10px 1rem;
}
.fixed-top{
	transition: all 0.5s ease 0s;
}
.navbar{
	transition: all 0.5s ease 0s;
}
.sticky a.navbar-nav-link {
    transition: color ease-in-out .15s;
    padding: 30px 10px;
    background-color: transparent;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
}
.sticky a.navbar-nav-link:hover, .sticky li.nav-item.float-left.active a{
    background-color: #1273EB17;
}
/*======================== Info shark custom css ========================*/
.navbar-brand img, .footer-logo {
    width: 150px !important;
}
li.nav-item {
    margin-right: 20px;
}

.text-blue, a.password-icon i:before {
    color: #33358c;
}
.slider-content {
    padding: 230px 0px 300px;
}
.section-heading h3 {
    background-color: #1273EB17;
    display: inline-block;
    padding: 8px 25px;
    border-radius: 30px;
}

/* video animate */
.home-request-fotm .form-control{
	background-color:transparent  !important;
}
.videoWrapper169 {
    padding-top: 720px;
}
.custom-footer h5 {
    font-size: 25px !important;
    letter-spacing: 0.5px;
}
.footer-list li{
	list-style:none;
}
.footer-form input#email {
    background: #fff;
    border-radius: 30px;
    padding: 16px 60px 16px 20px;
	position: relative;
}
.footer-form input[type="submit"] {
    position: absolute;
    top: 0px;
    right: -2px;
    background-image: linear-gradient( 
90deg
 , #03228f 0%, #0e73e4 100%);
    border-radius: 50%;
    font-family: "Flaticon";
    font-size: 0;
    border: none;
    width: 57px !important;
    height: 57px !important;
	cursor: pointer;
}
.footer-form i.flaticon-send {
    position: absolute;
    top: 18px;
    right: 18px;
}
.footer-form  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #222;
	font-size: 14px;
  }
  .footer-form  input ::-moz-placeholder { /* Firefox 19+ */
	color: #222;
	font-size: 14px;
  }
  .footer-form  input :-ms-input-placeholder { /* IE 10+ */
	color: #222;
	font-size: 14px;
  }
  .footer-form  input :-moz-placeholder { /* Firefox 18- */
	color: #222;
	font-size: 14px;
  }
  .copy-right {
    border-top: 1px solid #0a52c285;
}
.copy-right-text {
    letter-spacing: 1.5px;
}
.breadcrumbs {
    padding: 200px 0px 100px;
}
.breadcrumbs h2 {
    font-size: 25px !important;
    letter-spacing: 1.5px;
}

.search-wrap {
    background: #fff;
    padding: 40px 30px 40px;
    box-shadow: 0 6px 25px rgb(0 0 0 / 7%);
    border-radius: 10px;
}
.search-wrap input {
    border: 1px solid #ddd;
    color: #444444;
    padding: 12px 17px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.search-wrap input::-webkit-input-placeholder { /* Edge */
	color: #999;
  }
  
  .search-wrap input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #999;
  }
  
  
/*======================== custom css ========================*/
.banner-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -4%);
    max-width: 1000px;
}
.text-light-blue, h1 span, .sticky a.navbar-nav-link:hover, .footer-list li a:hover, li.nav-item.active a{
	color:#75e8ee !important
}
.font-light{
    color:#C8C8C8 !important
}
.btn-quote{
    box-shadow: 0px 0px 0px 2px #1c1c25 inset;
    border-radius: 50px 50px 50px 50px;
    color: #1c1c25;
    font-size: 16px;
    padding: 16.5px 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px 50px 50px 50px;
    line-height: 1.1;
    font-weight: 600;
    transition: all 0.4s;
    position: relative;
}
.button-content-wrapper{
    display: flex;
    position: relative;
    font-weight: 800;
    color: #1c1c25;
}
.btn-quote:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    transition: 0.4s;
    z-index: -1;
    border-radius: inherit;
    background-color: #67E7EF;
    transform: translate(5px,5px);
}
span.wgl-button-text {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.btn-quote:hover {
    box-shadow: 0px 0px 0px 2px #67e7ef inset;
}
.btn-quote:hover:after {
    transform: unset;
}
.banner-bottom-left-img {
    max-width: 400px;
    position: absolute;
    left: 0;
    bottom:0;    
}
.banner-bottom-right-img{
    max-width: 400px;
    right: 0;
    bottom:0;
}
.banner-shop-left-top {
    width: 160px !important;
    top: 70px;
    left: 70px;
}
.banner-shop-right-top {
    width: 100px !important;
    top: 70px;
    right: 200px;
}
.home-vision-block img {
    width: 80px;
    object-fit: contain;
    height: 80px;
    object-position: center;
}
.section-heading span {
    background-color: #e7e7fb;
    padding: 8px 22px;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 700;
}
.section-we-do-block h2 {
    font-size: 22px !important;
}
.section-we-do:after {
    background: #f8f8f8;
    content: "";
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
}
img.position-absolute.section-we-shape {
    top: 0;
    z-index: 1;
    object-fit: contain;
    width: 200px;
    right: -166px;
}
.section-provide:after{
    left: auto;
    right: 0;
    background-color: #1C1C25;
}
.r-icon {
    box-shadow: 0px 0px 0px 2px #ffff inset;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.r-icon:after, .r-icon{
    border-radius: 50%;
}
.r-icon i:before {
    font-size: 15px;
}
.footer-shape-left{
    bottom:30px;
    left:-30px;
    width:200px;
}
.footer-shape-right{
    bottom:100px;
    right:-80px;
    width:200px;
}
/*========== flip box ==========*/
.flip-card {
	background-color: transparent;
	width: 250px;
	height: 250px;
	perspective: 1000px;
  }
  .service-sub-content .flip-card{
    height:350px;
  }
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    box-shadow: 0 0 10px 7px rgb(0 0 0 / 3%);
	border-radius:5px;
  }
    .flip-card-back {
	background-color: #fff;
	border: 2px solid #363636;
	transform: rotateY(180deg);
	border-radius:5px;
  }
  .flip-block-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flip-card-back {
    background-image: url(../images/flip-boxes_bg-01.png);
    background-size: cover;
}
.section-pos {
    margin-top: 50px;
}
img.home-vision-ab-image {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.section-count-inner-icon{
    background-image: url(../images/counters_bg.jpg);
    background-size: 100% 100%;
    z-index: 99;
    position: relative;
    padding: 50px 80px;
    border-radius: 8px;
}
span.count, .number b {
    -webkit-text-fill-color: #34368d;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff9084;
    font-size: calc(1em + 2px);
    letter-spacing: -1px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size:45px;
}
.section-counter:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c1c25;
    z-index: 1;
    bottom: 0;
    height: 100px;
}
img.team-img {
    border-radius: 10px;
}
.section-team .owl-item:nth-child(odd) {
	margin-top:50px;
}
.team-img-block:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a8aaf175;
    top: 0;
    left: 0;
    border-radius: 10px;
	opacity:0;
}
.team-slider-content:hover .team-img-block:after{
	opacity:1;
} 
.social-icon-team {
    box-shadow: 0px 0px 0px 2px #1c1c25 inset;
    width: 25px;
    height: 25px;
}
.team-icon {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 16px;
}
.team-icon:after{
    background-color: #a8aaf1;
    transform: translate(3px,3px);
}
.team-icon i:before{
    font-size: 10px !important;
    line-height: 0;
}
.team-icon:hover {
    box-shadow: 0px 0px 0px 2px #67e7ef00 inset;
}
.btn-top:after, .btn-top:hover:after{
    transform: translate(5px,5px) !important; 
}
.btn-top:hover{
    box-shadow: 0px 0px 0px 2px #1c1c25 inset;
}
.btn-top span.wgl-button-text{
    position:relative;
    top: 4px;
    left: 4px;
}
.section-portfolio a.nav-link {
    border-bottom: 2px solid transparent;
}
.section-portfolio a.nav-link.active, .section-portfolio li.nav-item {
    position: relative;
}
.section-portfolio a.nav-link.active span.port-count, .section-portfolio a:hover span.port-count {
    opacity: 1;
}
.portfolio-block {
	overflow:hidden;
	border-radius: 10px;
	transition: all 0.5s;
}
.portfolio-block-content{
	padding: 11px 20px 15px 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #1c1c25;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
}
.portfolio-block-content {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    height: auto;
    width: 100%;
    transition: all 0.5s;
    transform: translateY(101%);
    opacity: 0;
    visibility: visible;
    padding: 10px 40px 14px 40px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #1c1c25;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
    text-align: center;
}
.portfolio-block:hover .portfolio-block-content {
	transform: translateY(0);
    opacity: 1;
}
.portfolio-block:hover .portfilio-img{
	transform: translateY(-30%);
	transition: all 0.5s;
}
.portfilio-img{
	overflow: hidden;
    border-radius: 10px;
	transition: all 0.5s;
}
.portfilio-img img {
    border-radius: 10px;
    position: relative;
    top: -12px;
}
.portfolio-block-content h4 {
    font-size: 18px;
}
span.circle {
    font-size: 40px !important;
    color: #09274d !important;
    position: relative;
    top: -2px;
}
.client-bg{
    background-image: url(../images/client-testimonials_bg.png);
    background-size: 100% 100%;
}
.client-slider {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;
    left: 20px;
}
.client-icon:before {
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-color: #fff;
    color: transparent !important;
    -webkit-text-stroke-width: 2px;
    z-index: 2;
    font-size: 45px;
    position: relative;
    left: -6px;
}
.client-icon:after {
    content: \f10d;
    content: "\f10d";
    position: absolute;
    left: 30px;
    right: 30px;
    top: 0;
    display: block;
    text-align: center;
    font-family: Flaticon;
    font-size: 54px;
    line-height: 1em;
    font-weight: normal;
    pointer-events: none;
    margin-left: 1px;
    margin-right: 1px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff9083;
    padding: calc(-1 * -5px);
    font-size: 45px;
    z-index: 1;
}
.img-animate img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.client-pose-left-top, .img-animate.client-pose-right-center{
    animation: image_move2 10s infinite linear;
    animation-duration: 25s;
}
.client-pose-left-center {
    position: absolute !important;
    top: 45%;
    left:20%;
    animation: zoominoutsinglefeatured 8s infinite ;
}
.client-pose-left-bottom{
    bottom:0;
    right:40%;
    animation: image_move3 10s infinite linear;
    animation-duration: 25s;
}
.client-pose-right-top{
    right: 50%;
    top:0;
    animation: image_move3 20s infinite linear;
    animation-duration: 35s;
}
.img-animate.client-pose-right-center {
    right: 0;
    position: absolute;
    top: 50%;
}
.client-pose-right-bottom {
    bottom: 0;
    animation: zoominoutsinglefeatured 8s infinite ;
}
.breadcrumbs{
    background-image: url(../images/page-title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-color: #f8f8f8;
    height: 330px;
    margin-bottom: 40px;
    padding-top: 76px;
    padding-bottom: 80px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.breadcrumbs-inner-parallax{
    transform: translate3d(0px, 0px, 0px) rotate(
0.0001deg
);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.breadcrumbs-inner-block{
    background-size: cover;
    background:url('../images/page_title_elements.png') -25px -50px;
    top:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 50px);
}
.back-menu a, .center-icon:before {
    color: #c9c9c9;
}
.center-icon:before{
    font-size:12px;
}
.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
    
    .title {
      opacity: 0;
      animation: show 0.35s forwards ease-in-out 0.5s;
    }
  } 
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.nav-tabs .nav-link, .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid #e5e5e5;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333;
    background-color: transparent;
    border-color: #ff9083;
    border-radius:3px;
}
.contact-block .r-icon{
    box-shadow: 0px 0px 0px 2px #1c1c25 inset;
}
.contact-block .r-icon i:before {
    color: #1c1c25;
}
.contact-left-block{
    padding: 20px 30px 27px 35px;
    background-image: url(../images/info-box_contacts-2.jpg);
    background-position: 0px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1s;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E8E8E9;
    border-radius: 10px 10px 10px 10px;
}
.contact-left-block:hover{
    background-position: top;
}
/*======================== custom css ========================*/
/*=================================== CUSTOM_ CSS END ===================================*/

/*=================================== media query css ===================================*/

@media only screen and (min-width: 300px) and (max-width: 575px) {
    .module-img-content, .login-module .col-md-7.bg-col, .cursor{
        display:none;
    }
    .login-module .custom-logo{
        width: 140px;
        top: 0;
    }
    li.nav-item.float-left.menu-btn-login {
        margin-top: 20px;
        margin-left: 20px;
    }
    .section-process-l-content.h-100 {
        text-align: left;
    }
    .process-count{
        margin: 0 auto;
    }
    .section-process-l-content, .section-process-r-inner{
        text-align: center;
    }
    .logo-sticky{
        top: 14px;
    }
    img.w-50.custom-logo.logo-sticky.position-absolute {
        width: 150px !important;
    }
    .breadcrumb-menu{
        flex-wrap: wrap !important;
    }
    .breadcrumbs {
        padding: 154px 0px 110px;
    }
    .slider-content {
        padding: 230px 0px 300px;
    }
    .navbar-brand img, .footer-logo {
        width: 180px !important;
    }
    h1, h1 span, h1.wrap {
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .slider-content h2, h1, h1 span, h1.wrap, .slider-content .normal-slide-content {
        text-align: center;
    }
    .slider-content h2 {
        font-size: 13px !important;
    }
    .section-spacer {
        padding: 40px 0px !important;
    }
    .section-heading h4 {
        font-size: 20px;
        padding: 10px;
    }
    h5 {
        font-size: 18px;
    }
   
    .section-process-l-content{
        margin: 0;
        padding: 80px 20px 75px 20px;
    }
    .section-process-l-content h2 {
        font-size: 20px !important;
    }
    .process-count{
        width: 50px;
    height: 50px
    }
    .count-content h4, .count-content h4 span{
        font-size: 30px !important;
    }
    .count-content img{
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }
    .home-request-fotm {
        padding: 50px 20px 50px 20px;
    }
    .latest-blog img{
        height: 100% !important;
    }
    .blog-line{
        display: none;
    }
    .blog-detail p {
        margin-bottom: 0 !important;
    }
    .blog-detail {
        margin-bottom: 30px;
        margin-top: 30px !important;
    }
    .footer-coyright-right-content .header-social-media {
        justify-content: center !important;
        margin-top: 10px;
    }
    .contact-widget{
        display: inline-block;
        text-align: center;
    }
    .blog-right .tag-name{
        bottom: 0;
    }
    .tag-name, .blog-right .tag-name {
        bottom: 0;
        left: 0;
    }
    .process-count span{
        font-size: 18px !important;
    }
	 .top-header {
		display: none;
	}
	.right-content.r-counter{
		width: 100%;
	}
	.navbar-expand-lg.fixed-bottom .navbar-collapse, .navbar-expand-lg.fixed-top .navbar-collapse{
		max-height: 100%;
	}
	.navbar.navbar-expand-lg .btn-info {
		margin-left: 13px;
	}
	#navbar-navigation {
		position: fixed;
		top: 0;
		left: 0px;
		z-index: 99;
		width: 100%;
		height: 100%;
        background-color: #00005c;
		overflow: hidden;
		right: 0px;
	}
    .sticky a.navbar-nav-link:hover, .sticky li.nav-item.float-left.active a {
        background-color: transparent;
    }
	ul.nav.navbar-nav {
		align-items: baseline !important;
		margin: 50px 20px 20px;
	}
	p, span, a,
	a:hover, button, button:hover, .navbar-light .navbar-nav-link{
		font-size: 13px !important;
	}
	h3 {
    font-size: 18px;
	}
	.home-tab li {
		padding-right: 15px;
	}
	.e-count{
		font-size: 40px;
	}
	h2.text-marun.font-regular.ex-text {
		font-size: 22px;
		line-height: 30px;
	}
	.slider-content.p-5.w-75 {
		width: 100% !important;
	}	

    .section-spacer {
        padding: 60px 0px;
    }
    button.navbar-toggler.collapsed.jb_front_nav_close{
		right: 8px;
		top: -1px;
    }
	/* menu-css */
	.navbar-brand {
		padding: 10px 0px;
	}
	.navbar-light .navbar-nav-link, .mobile-text {
		font-size: 15px;
	}
	.navbar-light .navbar-nav-link {
		margin: 0 2px;
	}	
	.navbar-inverse .navbar-nav-link, .navbar-inverse .navbar-nav-link i:before{
		padding: 14px 5px;
		color: #000 !important;
	}
	.navbar-inverse .badge{
		left: 16px;
		right:auto;
	}	
	.cooming-page-content h1, .cooming-page-content h1 span{
		font-size: 40px !important;
    line-height: 64px !important;
	}
	.comming-custom-log{
		left: 0;
	}
	.comming-form-content input{
		width: 100%;
	}
	.comming-form-content {
		background: #fff;
		height: 48px;
		border-radius: 30px;
	}
    #navbar-navigation a {
        color: #fff;
    }
    .login-module .section-heading h4 {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .login-module .form-group {
        margin-bottom: 10px;
    }
    input ~ .form-control-placeholder, .form-control:focus ~ .form-control-placeholder, textarea ~ .form-control-placeholder, textarea.form-control:focus ~ .form-control-placeholder{
        top: -6px;
    font-size: 12px;
    }
    .modual-btn {
        width: 180px;
    }
    .module-text-btn {
        bottom: 10px;
    }
    .fullpage-module {
        overflow: scroll;
        height: 100%;
    }
    .fullpage-module .content-wrapper {
        overflow: scroll;
    }
    .count-content {
        justify-content: center;
        display: block !important;
    }
    .count-n-content.number {
        margin-left: 0 !important;
    }
    .section-counter {
        text-align: center;
    }
    h4.number {
        margin: 10px 0px !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    h4.number {
        margin: 10px 0px !important;
    }
    .count-content {
        justify-content: center;
        display: block !important;
    }
    .count-n-content.number {
        margin-left: 0 !important;
    }
    .section-counter {
        text-align: center;
    }
    .count-n-content.number {
        margin-left: 0 !important;
    }
    .section-counter {
        text-align: center;
    }
    .cursor{
        display:none;
    }
    li.nav-item.float-left.menu-btn-login {
        margin-top: 20px;
        margin-left: 20px;
    }
    .process-count{
        margin: 0 auto;
    }
    .section-process-l-content.h-100 {
        text-align: left;
    }
    .section-process-l-content, .section-process-r-inner{
        text-align: center;
    }
    .logo-sticky{
        top: 14px;
    }
    img.w-50.custom-logo.logo-sticky.position-absolute {
        width: 150px !important;
    }
    .sticky .logo-default{
        display:block
    }
    .breadcrumb-menu{
        flex-wrap: wrap !important;
    }
    .breadcrumbs {
        padding: 154px 0px 110px;
    }
    .slider-content {
        padding: 200px 0px 300px;
    }
    .navbar-brand img, .footer-logo {
        width: 180px !important;
    }
    h1, h1 span, h1.wrap {
        font-size: 30px !important;
        line-height: 45px !important;
    }
    .slider-content h2, h1, h1 span, h1.wrap, .slider-content .normal-slide-content {
        text-align: center;
    }
    .slider-content h2 {
        font-size: 13px !important;
        font-size: 20px !important;
    }
    .about-effect-center{
        top: -181px;
        left: -100px;
    }
    .section-spacer {
        padding: 40px 0px !important;
    }
    .section-heading h4 {
        font-size: 30px;
        padding: 10px;
    }
    h5 {
        font-size: 18px;
    }
  
    .section-process-l-content{
        margin: 0;
        padding: 80px 20px 75px 20px;
    }
    .section-process-l-content h2 {
        font-size: 20px !important;
    }
    .process-count{
        width: 50px;
    height: 50px
    }
    .count-content h4, .count-content h4 span{
        font-size: 30px !important;
    }
    .count-content img{
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }
    .home-request-fotm {
        padding: 50px 20px 50px 20px;
    }
    .latest-blog img{
        height: 100% !important;
    }
    .blog-line{
        display: none;
    }
    .blog-detail p {
        margin-bottom: 0 !important;
    }
    .blog-detail {
        margin-bottom: 30px;
        margin-top: 30px !important;
    }
    .footer-coyright-right-content .header-social-media {
        justify-content: center !important;
        margin-top: 10px;
    }
    .contact-widget{
        display: inline-block;
        text-align: center;
    }
    .blog-right .tag-name{
        bottom: 0;
    }
    .tag-name, .blog-right .tag-name {
        bottom: 0;
        left: 0;
    }
    .process-count span{
        font-size: 18px !important;
    }
    #navbar-navigation a {
        color: #fff;
    }
    .sticky a.navbar-nav-link:hover, .sticky li.nav-item.float-left.active a {
        background-color: transparent;
    }
    #navbar-navigation{
        background-color: #00005c;
    }
	.top-header {
		display: none;
	}
	.comming-form-content {
		background: #fff;
		height: 48px;
		border-radius: 30px;
	}
	.comming-form-content input{
		width: 100%;
	}
	.right-content.r-counter{
		width: 100%;
	}
	.comming-custom-log{
		left: 0;
	}
	.comming-form-content input{
		width: 240px;
	}
	.cooming-page-content h1, .cooming-page-content h1 span{
		font-size: 40px !important;
    line-height: 64px !important;
	}
	.navbar-expand-lg.fixed-bottom .navbar-collapse, .navbar-expand-lg.fixed-top .navbar-collapse{
		max-height: 100%;
	}
	.navbar.navbar-expand-lg .btn-info {
		margin-left: 13px;
	}
	.float-right {
		float: none !important;
	}
	#navbar-navigation {
		position: fixed;
		top: 0;
		left: 0px;
		z-index: 99;
		width: 100%;
		height: 100%;
		overflow: hidden;
		right: 0px;
	}
	ul.nav.navbar-nav {
		align-items: baseline !important;
    margin: 100px 100px !important;
	}	
    .navbar-brand {
        z-index: 999;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    li.nav-item {
        margin-right: 20px;
        padding-bottom: 20px;
    }
    .module-img-content{
        background-size: contain;
    }
    .cursor{
        display:none;
    }
    li.nav-item.float-left.menu-btn-login {
        margin-top: 20px;
        margin-left: 20px;
    }
    .section-process-l-content{
        padding: 80px 20px 75px 20px;
    }
    .top-header {
        display: none;
    }
    .sticky a.navbar-nav-link:hover, .sticky li.nav-item.float-left.active a {
        background-color: transparent;
    }
    #navbar-navigation{
        background-color: #00005c !important;
    }
    #navbar-navigation a {
        color: #fff;
    }
	.top-header-right {
		justify-content: center;
		margin-top: 26px;
	}
	.navbar-expand-lg.fixed-bottom .navbar-collapse, .navbar-expand-lg.fixed-top .navbar-collapse{
		max-height: 100%;
	}
	.navbar.navbar-expand-lg .btn-info {
	    margin-left: 25px;
	}
	.float-right {
		float: none !important;
	}
	#navbar-navigation {
		position: fixed;
		top: 0;
		left: 0px;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		right: 0px;
	}
	ul.nav.navbar-nav {
        align-items: baseline !important;
        margin: 100px 50px !important;
    }
    h4 {
        font-size: 25px;
    }
    .count-content h4, .count-content h4 span{
        font-size: 27px !important;
    }
    .section-process-l-content h2 {
        font-size: 22px !important;
    }
    .footer-logo-content {
        text-align: center;
    }
   
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .module-img-content{
        background-size: contain;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.module-right-content h4 {
        font-size: 24px;
    }
    .login-module .custom-logo {
        top: 0;
        z-index: 99;
        width: 150px;
    }
    .module-text-btn{
        bottom:10px
    }
}
@media (min-width: 1500px) {
	.container {
		max-width: 1440px !important;
	}
	.cooming-page-content h1, .cooming-page-content h1 span{
		font-size: 100px !important;
    line-height: 130px !important;
	}
}
