$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?67371d3aed156e280345967dba064405") format("truetype"),
url("./flaticon.woff?67371d3aed156e280345967dba064405") format("woff"),
url("./flaticon.woff2?67371d3aed156e280345967dba064405") format("woff2"),
url("./flaticon.eot?67371d3aed156e280345967dba064405#iefix") format("embedded-opentype"),
url("./flaticon.svg?67371d3aed156e280345967dba064405#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "phone-call": "\f101",
    "message": "\f102",
    "location": "\f103",
    "wall-clock": "\f104",
    "clock": "\f105",
    "facebook-logo": "\f106",
    "twitter-black-shape": "\f107",
    "instagram-logo": "\f108",
    "linkedin": "\f109",
    "menu": "\f10a",
    "right-menu-bars": "\f10b",
    "close-button": "\f10c",
    "send": "\f10d",
    "check": "\f10e",
    "calendar-interface-symbol-tool": "\f10f",
    "user": "\f110",
    "search": "\f111",
    "right": "\f112",
    "eye": "\f113",
    "invisible": "\f114",
);

.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-wall-clock:before {
    content: map-get($flaticon-map, "wall-clock");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-facebook-logo:before {
    content: map-get($flaticon-map, "facebook-logo");
}
.flaticon-twitter-black-shape:before {
    content: map-get($flaticon-map, "twitter-black-shape");
}
.flaticon-instagram-logo:before {
    content: map-get($flaticon-map, "instagram-logo");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-right-menu-bars:before {
    content: map-get($flaticon-map, "right-menu-bars");
}
.flaticon-close-button:before {
    content: map-get($flaticon-map, "close-button");
}
.flaticon-send:before {
    content: map-get($flaticon-map, "send");
}
.flaticon-check:before {
    content: map-get($flaticon-map, "check");
}
.flaticon-calendar-interface-symbol-tool:before {
    content: map-get($flaticon-map, "calendar-interface-symbol-tool");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-right:before {
    content: map-get($flaticon-map, "right");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-invisible:before {
    content: map-get($flaticon-map, "invisible");
}
